header {
    color: blue;
    font-size: 60px;
    font-family: serif;
    background-color: aqua;
}

li {
    list-style: none;
    float: left;
    margin:10px 80px 10px 80px;
    font-size: 30px;
}