
h1 {
    color: blue;
    font-size: 60px;
    font-family: serif;
}

.header {
    background-color: #f7f2b4;
    height: 50px; 
    
}

.header-top {
    float:left;
    font-size: 22px;
    padding: 8px 10px 10px 10px;
}

.header-list li{
    list-style: none;
    float: left;
    padding: 13px 10px 10px 10px;
}

.main {
    height:600px;
}

.footer {
    background-color:darkorchid;
    height:200px;
}
